.market-wrapper, .market-ui
  pointer-events: none

#market.market-active
  display: block !important

.market
  width: 180px
  height: 400px
  margin: 1em 0
  pointer-events: all
  position: relative
  font-family: "Fantasque Sans Mono", monospace
  font-size: 0.85em
  background: #eee
  border-radius: 0.4em
  overflow: hidden
  box-shadow: 0px 0px 12px rgba(0,0,0,0.2)

.end-turn
  position: absolute
  bottom: 0
  width: 100%
  border-radius: 0
  &:disabled
    background: #ff2c2c
    color: #fff

.progress-bar, .progress-bar-fill
  height: 1.5em
  width: 100%
  background: #e0e0e0

.progress-bar-fill
  background: #fb3f3f

.turns-left
  float: right
  padding: 0.2em

.turn-notice
  position: fixed
  top: 2em
  text-align: center
  left: 0
  right: 0
  font-size: 2em
  font-family: 'Work Sans'
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2)
  color: #fff

.tile-info
  margin: 1em 0
  border-bottom: 1px solid #aaa
  height: 10em

.tile-info, .piece-info
  padding: 0.8em
  h5
    color: #949494
    font-weight: normal
    margin-bottom: 0.4em

.tile-name, .piece-name
  margin: 0.2em 0 0em 0
  font-size: 1.1em
  display: block
.tile-name h6
  font-weight: normal
  font-style: italic
  color: #777
  font-size: 0.8em

.tile-description
  color: #888

.player-info
  border-bottom: 1px solid #aaa

.piece-no-moves
  background: #ff2c2c
  color: #fff
  padding: 0.3em 0.6em 0.2em 0.6em
  margin: 0.2em 0
  border-radius: 0.2em

.health
  color: #29dc6d

.no-health
  color: #ccc

.market-title
  position: fixed
  color: #fff
  left: 0
  bottom: 0
  font-size: 2em
  font-weight: normal
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3)
  padding: 1em

.market-share
  position: fixed
  top: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.2)
  color: #fff
  height: 1.5em
  h1
    font-size: 1em
    font-weight: normal
    position: absolute

.human-market-share
  float: left
  background: #3f84fb
  height: 1.5em
  width: 20%
  padding: 0.1em 0 0 0.4em
  white-space: nowrap

.ai-market-share
  float: right
  background: #fb3f3f
  height: 1.5em
  width: 20%
  padding: 0.1em 0.4em 0 0
  text-align: right
  white-space: nowrap
  h1
    right: 0.4em

.friendly
  color: #0039FF

.hostile
  color: #fd1c1c
