.onboarding
  padding: 2em
  input
    height: 3em
    font-size: 1.5em
    border: 0
    padding: 1em
    margin: 6em 0
    width: 100%
  li
    cursor: pointer

.back
  cursor: pointer

.onboarding
  .selected
    background: #29dc6d
    color: #fff
  h4
    font-weight: normal

.onboarding-options
  margin: 2em 0
  overflow: hidden
  li
    width: 32.33%
    float: left
    height: 18em
    margin-right: 1%
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2)
    font-family: "Fantasque Sans Mono", monospace
    background: #fff

.onboarding-option-info
  padding: 1em
  h3
    font-weight: normal

.onboarding-options
  img
    height: 8em
    margin: 0 auto
    display: block
  .onboarding-location
    width: 100%
    height: auto

.mentor
  width: 200px
  position: absolute
  margin-left: -18em
  margin-top: -3em

.mentor-message, .event
  text-align: left
  line-height: 1.4

.mentor-message
  font-size: 1.2em
  padding: 3.5em 2em 3.5em 3em
  height: 14em
  em
    color: #fff
    background: #3f84fb
    padding: 0.1em 0.3em

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.02)
  100%
    transform: scale(1)

.pulse
  animation-name: pulse
  animation-duration: 0.6s
  animation-iteration-count: infinite
