.selection
  position: absolute
  left: 0
  top: 15vh
  background: #d7e3f9
  padding: 1em 1.5em
  color: rgb(52, 99, 129)
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
  display: none
  width: 22em

.selection-avatar
  width: 80px
  float: left

.selection-name
  float: left
  padding: 1em 0

.selection-body
  clear: both

.selection-stats
  width: 10em
  float: left

.selection-stat-value
  float: right
  color: #0039ff

.last-thought
  background: #fff
  padding: 1em
  border-radius: 0.5em
  margin: 0 0 1em 0
  h6
    color: #a3b4bf

.employee-attributes
  margin: 0 0 0 1em
  float: left

.object-stats
  h5
    color: #6c91a9
